.card {
    width: 40vh;
    height: 50vh;
    background-color: #E9ECEF;
    color: #333;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5% auto;
    font-size: 1.6rem;
}

.card img {
    width: 75%;
    margin: 0 auto;
}

.card-title {
    font-size: 2.4rem;
}

.card-subtitle {
    font-size: 1.6rem;
}

.card-text {
    font-size: 1.4rem;
}

/* @media screen and (max-width: 770px) {
    .card {
        min-width: 80%;
        margin: 5% auto;
    }

    .card img {
        width: 75%;
        margin: 0 auto;
    }
} */