.card {
    width: 85vw;
    background-color: #E9ECEF;
    color: #333;
    box-sizing: border-box;
    /* padding: 10px 20px; */
    margin: 5% auto;
}

.card img {
    width: 75%;
    margin: 0 auto;
}

.cardMyTitle {
    font-size: 2.8rem;
}

.cardMySubtitle {
    font-size: 1.4rem;
}

.cardMyText {
    font-size: 1.6rem;
}

.cardMyButton {
    font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
    .card {
        width: 40vw;
    }
}



/*

@media screen and (max-width: 770px) {
    .card {
        min-width: 80%;
        margin: 5% auto;
    }

    .card img {
        width: 75%;
        margin: 0 auto;
    }
} */