.card {
    width: 85vw;
    background-color: #E9ECEF;
    color: #333;
    box-sizing: border-box;
    margin: 5% auto;
}

.card img {
    width: 75%;
    margin: 10% auto;
}

.cardMyTitle {
    font-size: 2.8rem;
}

.cardMySubtitle {
    font-size: 1.4rem;
}

.cardMyText {
    font-size: 1.6rem;
}

.cardMyButton {
    font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
    .card {
        width: 40vw;
    }
}

@media screen and (min-width: 1280px) {
    .card {
        width: 20vw;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        width: 20vw;
    }
}

@media screen and (min-width: 1850px) {
    .card {
        width: 15vw;
    }
}

@media screen and (min-width: 2240px) {
    .card {
        width: 15vw;
    }
}

@media screen and (min-width: 2450px) {
    .card {
        width: 10vw;
    }
}

@media screen and (min-width: 2560px) {
    .card {
        width: 13vw;
    }
}

@media screen and (min-width: 2880px) {
    .card {
        width: 10vw;
    }
}

@media screen and (min-width: 3840px) {
    .card {
        width: 6vw;
    }
}

@media screen and (min-width: 5120px) {
    .card {
        width: 5vw;
    }
}