.heroImage{
    max-height: 100%;
    max-width: 55%;
    margin-left: 45%;
}

.homeSections {
    margin: 15% 0;
}

.diagonalBox {
    transform: skewY(-11deg);
    -webkit-transform: skewY(-11deg);
    background-color: #830B2D;
    height: 100%;
    margin: 15% 0;
    padding: 15% 0;
}

.diagonalBoxContent {
    transform: skewY(11deg);
    -webkit-transform: skewY(11deg);
    color: #ffffff;
    margin: 0 auto;
}

.Illustration {
    width: 50%;
}

@media screen and (min-width: 350px) {
    .diagonalBox {
        height: 80%;
    }
}

@media screen and (min-width: 400px) {
    .diagonalBox {
        height: 100%;
    }
}
/* 
@media screen and (max-width: 1750px) {
    .diagonalBox {
        height: 85vh;
    }
}

@media screen and (max-width: 1000px) {
    .heroImage {
        margin: 10% 0 0 25%;
    }

    .Illustration {
        width:75%;
    }

    .diagonalBox {
        height: 95vh;
    }
}

@media screen and (max-width: 750px) {
    .tagline {
        font-size: 4rem;
        text-align: center;
    }

    h2, p {
        text-align: center;
    }

    .heroImage {
        margin: 10% 0 10% 25%;
    }

    .diagonalBox {
        height: 110vh;
    }

    .buttonCenterUtil {
        display:  flex;
        justify-content: center;
    }

    .sectionParagraph {
        padding: 1.5rem 1rem;
    }

    .Illustration {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    p {
        font-size: 1.4rem;
    }

    .diagonalBox {
        height: 75vh;
    }
} */