.heroImage{
    max-height: 100%;
    max-width: 55%;
    margin-left: 45%;
}

.homeSections {
    margin: 25% 0;
}

.diagonalBox {
    transform: skewY(-11deg);
    -webkit-transform: skewY(-11deg);
    background-color: #830B2D;
    max-height: 85vh;
    margin: 30% 0;
    padding: 15% 0;
}

.diagonalBoxContent {
    transform: skewY(11deg);
    -webkit-transform: skewY(11deg);
    color: #ffffff;
}

.sectionParagraph {
    padding: 9rem 0;
}

@media screen and (max-width: 1000px) {
    .heroImage {
        margin: 10% 0 0 25%;
    }
}

@media screen and (max-width: 750px) {
    .tagline {
        font-size: 4rem;
        text-align: center;
    }

    h2, p {
        text-align: center;
    }

    .heroImage {
        margin: 10% 0 10% 25%;
    }

    .buttonCenterUtil {
        display:  flex;
        justify-content: center;
    }

    .sectionParagraph {
        padding: 1.5rem 1rem;
    }
}

@media screen and (max-width: 500px) {
    p {
        font-size: 1.4rem;
    }

    .diagonalBox {
        max-height: 100vh;
    }
}