.nav {
    min-width: 10%;
    width: 20%;
    margin-right: 20%;
}

.navLink {
    color: #fff !important;
}

.navLinkText {
    font-size: 1.6rem;
}

.navLinkLogo {
    font-size: 4rem;
}

.navLinkHover:hover {
    color: #FCD581 !important;
    text-decoration: none;
    transition: color 0.2s ease;
}