footer{
    min-height: 10vh;
    width: auto;
    background-color: #830B2D;
    box-sizing: border-box;
    color: #fff;
    padding: 3% 0 0 0;
}

p a {
    color: #fcd581;
    text-decoration: underline;
}

p a:hover {
    color: #fcd581;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li a {
    color: #fff
}

footer ul li a:hover {
    color: #fcd581;
    text-decoration: none;
}

.socialFooter {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.socialFooter li {
    margin: 0 5% 0 0;
}

.footerCopyright {
    margin-top: 2%;
    min-height: 8vh;
    max-height: 10vh;
    padding: 0.55% 0;
    background-color: #FCD581;
    color: #000000;
}