footer{
    min-height: 10vh;
    width: auto;
    background-color: #830B2D;
    box-sizing: border-box;
    color: #fff;
    padding: 5%;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.socialFooter {
    display: flex;
    justify-content: space-evenly;
}